*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.mainNetflixContainer{
    border: 2px solid red;
    /* padding: 1rem 2rem; */
    position: relative;
    
    
}
body{
    background-color: black;
}

.backgroundcontainer{
    background-image: url("images/banner.jpg");
    filter: blur(16px );
    height: 100vh;
    position: relative;

}
.pinkoverlay{
    background-color: rgba(104, 3, 20, 0.347);
    height: 100%;
    width: 100%;
}
.ContentContainer{
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 0rem 2rem;
}

nav{
    /* border: 2px solid green; */
    height: 20vh;
    
}

.upperNavbarsection{
   /* border: 2px solid blue;*/
    display: flex;
    height: 50%;

}
.lowerNavbarsection{
    /* border : 2px solid black; */
    height: 50%;
}

.upperNavbarsectionleft{
    /*border: 2px solid red;*/
    width: 50%;

}

.upperNavbarsectionright{
    /*border: 2px solid green;*/
    width: 50%;
}



.NetflixLogo{
    width: 29%;
}

.Languagebutton{
    display: flex;
    padding: .3rem .8rem;
    border-radius: 50px;
    background: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
    font-size: 1rem;
}

.po{
    margin-left: 5px ;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;

}

.lowerNavbarsection{
    /* border: 2px solid black; */
    height: 5px;
}

.signinbutton{
    background-color: white;
    padding: .3rem 1rem;
    border-radius: 50px;
    border: none;
    outline: none;
    margin-left: 10px;
}

.navBarButtonContainer{
    display: flex;
    justify-content: flex-end;
    /*border: 2px solid green;*/
    height: 100%;
    align-items: center;
}

.lowerNavbarsection{
    /* border: 2px solid red; */
    height: 50%;
    color: white;
    display: flex;
    justify-content: center;
}

.menu {
    /* border: 2px solid green; */
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    border-radius: 50px;
    background: rgba(0,0,0,0.5);
    box-shadow: 2px 3px 14px rgba(0,0,0,0.5);
    height: 5vh;
}

.menu li{
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
}
.bannersection {
    height: 90vh;
    background-image: url("./images/banner.jpg");
    background-size: 100% 100%;
    background-position: center;
    /* border: 2px solid red;  */
    border-radius: 20px; 
    position: relative; 
}

.bannercontainer{
    /* border: solid 2px red; */
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Overlay{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3) ,rgba(0,0,0,0.7),black);
    border-radius: 20px;
 
}

.bannercontainer h2{
    font-size: 4rem;
    /* border: 2px solid green; */
    width: 50%;
    text-align: center;
    
}

.bannercontainer h4{
    font-size: 1.5rem;
    margin: 20px;

}


.bannercontainer p{
    font-size: 1rem;
    margin: 20px;

}

.inputcontainer{
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    
}

.emailinput{
    padding: 1rem 2.5rem;
    border-radius: 50px;
    /* border: 1px solid white; */
    outline: none;
    width: 60%;
    background-color: rgba(225,225,225,0.3);
    right: 10px;
    font-size: 1.2rem;
}

.emailinput::placeholder{
    color: white;
    font-size: 1rem;
    font-weight: 550;
}

.getStarted{
    width: 30%;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 50px;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
}
