*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainNetflixContainer{
    border: 2px solid red;
    padding: 1rem 2rem;
    
}

nav{
    border: 2px solid green;
    height: 20vh;
    
}

.upperNavbarsection{
    border: 2px solid blue;
    display: flex;
    height: 50%;

}
.lowerNavbarsection{
    border : 2px solid black;
    height: 50%;
}

.upperNavbarsectionleft{
    border: 2px solid red;
    width: 50%;

}

.upperNavbarsectionright{
    border: 2px solid green;
    width: 50%;
}

.lowerNavbarsection{
    border: 2px solid black;
}