*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainNetflixContainer{
    border: 2px solid red;
    padding: 1rem 2rem;
    background-color: black;
    
}

nav{
    border: 2px solid green;
    height: 20vh;
    
}

.upperNavbarsection{
    border: 2px solid blue;
    display: flex;
    height: 50%;

}
.lowerNavbarsection{
    border : 2px solid black;
    height: 50%;
}

.upperNavbarsectionleft{
    border: 2px solid red;
    width: 50%;

}

.upperNavbarsectionright{
    border: 2px solid green;
    width: 50%;
}

.lowerNavbarsection{
    border: 2px solid black;
}

.NetflixLogo{
    width: 25%;
}

.Languagebutton{
    display: flex;
    padding: .5rem;
    border-radius: 50px;
    background: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
}

.Languagebutton p{
    margin-left: 5px ;

}

.lowerNavbarsection{
    border: 2px solid black;
    height: 5px;
}